$body-color: slateblue;

body {
  color: $body-color;
  font-family: sans-serif;
  padding:0 0 0 0;
  margin:0 0 0 0;
}
canvas.p5Canvas {
  display:block;
  margin-left: auto;
  margin-right: auto;
  padding:0 0 0 0;
}
html {
  background: black;
}
.landing {
  text-align: center;
  margin: 0 auto;
  width: 500px;
  left:0;
  right:0;
  position: fixed;
  top:50vh;
  color:white;
}